<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<div class="container">
  <div class="container">
    <div id="apikeyAlert" class="alert alert-danger" style="display:none;">
      Please select at least one company
    </div>
    <br />
  </div>
  <div class="col-md-4">
    <div class="form-group" id="get_credentials" style="padding-bottom: 40px;">
        <label for="apikey">API Key:</label>
        <input id="apikey" type="text" name="apikey" required>
        <small>Click <a href="https://support.freshdesk.com/support/solutions/articles/215517-how-to-find-your-api-key" target="_blank">here</a>  to get instruction on how to find your API key.</small>
        <br>
        <br>
        <label for="domainname">Subdomain name</label>
        <input id="domainname" type="text" name="domainname" required>
        <small>Please enter subdomain of your Freshdesk account. Eg: www.<b>subdomain</b>.freshdesk.com</small>
        <br>
        <br>  
        <button class="btn btn-info" id="getCompany" type="button" name="getCompany">Next</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" id="company_select_div">
      <label for="company_select">Select companies</label>
      <select class="companies_select" id="company_select" name="companies[]" multiple="multiple" style="min-width:70%">
      </select>
    </div>
    <br />
    <div class="col-md-4" id="alert_agent_div">
      <label><input id="alert_agent" name="alert_agent" type="checkbox" value="alert_agent"> Alert agent</label>
      <p>when the purchased hours reached atleast <input id="alert_agent_hours" name="alert_agent_hours" type="number" style="max-width:4%" disabled> hours</p>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery('#company_select_div').hide();
jQuery('#alert_agent_div').hide();
jQuery('#alert_agent').change(function() {
  if(this.checked){
    jQuery('#alert_agent_hours').prop('disabled', false);
  }
});
jQuery('#getCompany').click(function(){
  var subDomain = jQuery('#domainname').val();
  var apiKey = jQuery('#apikey').val();
  var btoapiKey = "Basic "+btoa(apiKey);
  if(subDomain == '' && apiKey == ''){
    jQuery('#apikeyAlert').text('Please enter the required fields').show();
  }
  else if (apiKey == '') {
    jQuery('#apikeyAlert').text('Please enter api key').show();
  }
  else if(subDomain == ''){
    jQuery('#apikeyAlert').text('Please enter sub domain').show();
  }
  else {
    jQuery.ajax({
      url: `https://${subDomain}.freshdesk.com/api/v2/companies`,
      type: 'GET',
      dataType: 'json',
      headers:{
        Authorization: btoapiKey
      },
      success: function(companiesData){
        jQuery.map(companiesData, function (company_item){
          var selectValue = company_item.id;
          var selectText  = company_item.name;
          jQuery('#company_select').append(jQuery('<option>',{
            value: selectValue,
            text: selectText
          }));
        })
        jQuery('#get_credentials').hide();
        jQuery('#company_select_div').show();
        jQuery('#alert_agent_div').show();
        jQuery('#alert_agent_hours').attr("value", 15);


      },
      error: function(companiesDataErr){
        if(companiesDataErr.statusText == 'Unauthorized' || companiesDataErr.status == 401){
          jQuery('#apikeyAlert').text('Could not fetch company details. Please enter a valid api key').show();
        }
        else if(companiesDataErr.statusText == 'Not Found' || companiesDataErr.status == 404) {
          jQuery('#apikeyAlert').text('Could not fetch company details. Please enter a valid subdomain').show();
        }
        else if(companiesDataErr.statusText == 'error' || companiesDataErr.status == 0) {
          jQuery('#apikeyAlert').text('Please fill the required fields').show();
        }

      }
    });
  }
});
jQuery('.companies_select').select2({
   placeholder: 'Select companies'
});

function getConfigs(inputConfigs) {
  jQuery('#get_credentials').hide();
  jQuery('#company_select_div').show();
  jQuery('#alert_agent_div').show();
  var subDomain = inputConfigs.subdomain;
  var apiKey = inputConfigs.apikey;
  var alertAgents = inputConfigs.alertAgents;
  var btoapiKey = "Basic "+btoa(apiKey);
  var companiesDataArr = [];
  var companiesSelected = inputConfigs.companies;
  var alertAgentHours = inputConfigs.alertAgentHours;
  if(alertAgents == "true"){
    jQuery('#alert_agent').prop('checked',true);
    jQuery('#alert_agent_hours').prop('disabled', false);
  }
  jQuery('#domainname').val(subDomain);
  jQuery('#apikey').val(apiKey);
  jQuery('#alert_agent_hours').val(alertAgentHours);
  jQuery.ajax({
    url: `https://${subDomain}.freshdesk.com/api/v2/companies`,
    type: 'GET',
    dataType: 'json',
    headers:{
      Authorization: btoapiKey
    },
    success: function(companiesData){
      var selectData = [];
      jQuery.map(companiesData, function(company_item){
        var selectValue = company_item.id;
        var selectText  = company_item.name;
        companiesDataArr.push(company_item);
        jQuery('#company_select').append(jQuery('<option>',{
          value: selectValue,
          text: selectText
        }));
      })

      companiesDataArr.map(function(firstLevelCompany){
        companiesSelected.map(function(secondLevelCompany){
          var secondLevelCompanyId = parseInt(secondLevelCompany);
          if(firstLevelCompany.id == secondLevelCompanyId){
            selectData.push(firstLevelCompany.id);
            jQuery('#company_select').val(selectData).trigger("change");
          }
        });
      });
    },
    error: function(companiesDataErr){
      if(companiesDataErr.statusText == 'Unauthorized' || companiesDataErr.status == 401){
        jQuery('#apikeyAlert').text('Could not fetch company details. Please enter a valid api key').show();
      }
      else if(companiesDataErr.statusText == 'Not Found' || companiesDataErr.status == 404) {
        jQuery('#apikeyAlert').text('Could not fetch company details. Please enter a valid subdomain').show();
      }
      else if(companiesDataErr.statusText == 'error' || companiesDataErr.status == 0) {
        jQuery('#apikeyAlert').text('Please fill the required fields').show();
      }

    }
  });

}

function postConfigs() {
  var companies = [];
  jQuery('#company_select :selected').each(function(){
    companies.push(jQuery(this).val());
  });
  var alertAgents = [];
  jQuery('input[name="alert_agent"]:checked').each(function(){
    alertAgents.push( jQuery(this).val());
  });
  var alertAgentsCondition = false;
  var alertAgentHours = jQuery('#alert_agent_hours').val();
  if (alertAgents.length > 0){
    alertAgentsCondition = true;
  }
  var subdomain = jQuery('#domainname').val();
  var apikey = jQuery('#apikey').val();
  return {
    companies: companies,
    subdomain: subdomain,
    apikey: apikey,
    alertAgents: alertAgentsCondition,
    alertAgentHours: alertAgentHours
  }
}

function validate() {
  var companies = [];
  jQuery('#company_select :selected').each(function(){
    companies.push(jQuery(this).val());
  });
  if(jQuery('#company_select_div').is(':hidden')){
    jQuery('#apikeyAlert').text('Please enter the required fields and click next to select companies').show();
    return false;
  }
  else if (companies.length == 0) {
    jQuery('#apikeyAlert').text('Please select at least one company').show();
    return false;
  }
  else {
    return true;
  }
}
</script>
